<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Simple MOOC - Uma simples plataforma de ensino a distância" />
    <title>GeoOrigami</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link rel="stylesheet" href="styles.css"/>
</head>
<body>
    <div class="header">
        <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
            <a class="pure-menu-heading" href="home.html">GeoOrigami</a>
            <ul>
                <li class="pure-menu-selected">
                    <a href="home.html">Início</a></li>
                <li><a href="videos.php">Vídeos</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </div>
    </div>
        </p>

   <div class="pure-g-r content-ribbon" id="contato">
        <div class="pure-u-1">
            <p></p><p></p>
            <h3>Tire suas dúvidas sobre o Curso</h3>

            <form action="" class="pure-form pure-form-aligned" method="post">
                <fieldset>
                    <div class="pure-control-group">
                        Nome: <input type="text" name="name"></p>
                        Descrição: <input type="text" name="name"></p>
                        Nome: <input type="text" name="name">
                        Nome: <input type="text" name="name">
                    </div>
                           
                    <div class="pure-controls">
                        <button type="submit" class="pure-button pure-button-primary">Enviar</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>


    <div class="footer">
        GeoOrigami- Uma simples plataforma de suporte ao ensino de Geometria para o ensino fundamental através do Origami
    </div>
<script src="http://yui.yahooapis.com/3.12.0/build/yui/yui-min.js"></script>
</body>
</html>